@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

body {
  font-family: "Red Hat Text", system-ui;
  background-color: #fcf8f6;
}

h1,
h2,
button {
  color: #260f08;
}

p {
  color: #c73b0f;
}

span {
  color: #87635a;
}

.container {
  margin-inline: auto;
  padding: 24px;
  display: grid;
  align-items: start;
  gap: 32px;
  max-width: 375px;
  .product-list {
    display: grid;
    gap: 32px;

    .product-list-items {
      display: grid;
      gap: 24px;

      .card {
        display: grid;
        gap: 38px;

        figure {
          position: relative;
          height: calc(100% + 22px);
          span {
            color: #fff;
          }
          .cart-count {
            display: flex;
            gap: 43px;
            padding: 12px;
            align-items: center;
            justify-content: space-between;
            width: max-content;
            margin-inline: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #c73b0f;
            border-radius: 9999px;
            button {
              border: none;
              background-color: transparent;
              cursor: pointer;
            }
          }

          .cart-button {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            button {
              width: max-content;
              margin-inline: auto;
              padding: 12px 28px;
              border: 1px solid #ad8a85;
              border-radius: 9999px;
              display: flex;
              align-items: center;
              gap: 8px;
              font-weight: 600;
              line-height: 18.52px;
              background-color: #fff;
              cursor: pointer;
            }
          }
        }

        .card-content {
          display: grid;
          gap: 4px;

          span {
            line-height: 18.52px;
          }

          h2 {
            font-weight: 600;
            line-height: 21.17px;
            font-size: 18px;
          }

          p {
            font-weight: 600;
            line-height: 21.17px;
          }
        }
      }
    }
  }

  .cart {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    min-height: 300px;
    border-radius: 16px;
    background-color: #fff;
    h1 {
      font-weight: 700;
      line-height: 31.75px;
      color: #c73b0f;
    }
    .cart-items {
      display: grid;
      align-items: start;
      min-height: 200px;
      .cart-item {
        padding: 16px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr max-content;
        gap: 12px;
        border-bottom: 1px solid #f5eeec;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
        .product-info {
          display: grid;
          gap: 8px;
          h2 {
            font-size: 16px;
            font-weight: 600;
            line-height: 18.52px;
            color: #260f08;
          }
          .product-price {
            display: flex;
            gap: 12px;
            .product-count {
              font-size: 14px;
              font-weight: 600;
              line-height: 18.52px;
              color: #c73b0f;
            }
            .product-price {
              font-size: 14px;
              line-height: 18.52px;
              color: #87635a;
            }
            .product-total {
              font-size: 14px;
              font-weight: 600;
              line-height: 18.52px;
              color: #87635a;
            }
          }
        }
      }
    }

    .cart-total {
      margin-top: 24px;
      display: grid;
      gap: 24px;
      .order-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 14px;
          line-height: 18.52px;
          color: #260f08;
        }
        .total-price {
          font-size: 28px;
          font-weight: 700;
          line-height: 31.75px;
          color: #260f08;
        }
      }
      .carbon-neutral {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #FCF8F6;
        padding-block: 16px;
        border-radius: 8px;
        p {
          font-size: 14px;
          line-height: 18.52px;
          color: #260f08;
        }
      }
      .confirm-order {
        background-color: #c73b0f;
        border: none;
        border-radius: 9999px;
        padding: 12px 28px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px;
    .product-list {
      .product-list-items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 88px 112px;
    grid-template-columns: 1fr 384px;
  }
}
